@model CinePrintwayy.Models.Sessao

@{

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>

    <h4>Sessao</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Data" class="control-label"></label>
                    <input asp-for="Data" class="form-control" />
                    <span asp-validation-for="Data" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="HorarioInicio" class="control-label"></label>
                    <input asp-for="HorarioInicio" class="form-control" id="Inicio"/>
                    <span asp-validation-for="HorarioInicio" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ValorIngresso" class="control-label"></label>
                    <input asp-for="ValorIngresso" class="form-control" />
                    <span asp-validation-for="ValorIngresso" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TipoAnimacao" class="control-label"></label>
                    <input asp-for="TipoAnimacao" class="form-control" />
                    <span asp-validation-for="TipoAnimacao" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TipoAudio" class="control-label"></label>
                    <input asp-for="TipoAudio" class="form-control" />
                    <span asp-validation-for="TipoAudio" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="IdFilme" class="control-label"></label>
                    <select id="id" name="Filmes" class="form-control" asp-for="IdFilme" asp-items="ViewBag.Filmes"></select>
                    <span asp-validation-for="IdFilme" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="IdSala" class="control-label"></label>
                    <select id="id" name="Salas" class="form-control" asp-for="IdSala" asp-items="ViewBag.Salas"></select>
                    <span asp-validation-for="IdSala" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <a asp-action="Index" class="btn btn-primary">Back to List</a>
                    <input type="submit" value="Create" class="btn btn-primary" />
                    <input type="hidden" asp-for="@Model.IdSala" value="@ViewBag.Salas.SelectedValue" />
                    <input type="hidden" asp-for="@Model.IdFilme" value="@ViewBag.Filmes.SelectedValue" />
                </div>
            </form>
        </div>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
</body>
</html>
